<a href="https://colab.research.google.com/github/wkkw0203/pyton_data_science_bootcamp/blob/main/dane_gieldowe_kurs_udemy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [5]:
def fetch_financial_data(company='AMZN'):
    """
    This function fetches stock market quotations.
    """
    import pandas_datareader.data as web
    return web.DataReader(name=company, data_source='stooq')

In [7]:
df= fetch_financial_data()
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1258 entries, 2022-08-05 to 2017-08-08
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    1258 non-null   float64
 1   High    1258 non-null   float64
 2   Low     1258 non-null   float64
 3   Close   1258 non-null   float64
 4   Volume  1258 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 59.0 KB

In [ ]:
df

In [9]:
df.head()

              Open      High     Low   Close    Volume
Date
2022-08-05  140.10  142.8600  139.60  140.80  50686865
2022-08-04  140.58  143.5600  139.55  142.57  70585020
2022-08-03  136.21  140.4900  136.05  139.52  71827780
2022-08-02  134.72  137.4400  134.09  134.16  61922429
2022-08-01  134.96  138.8339  133.51  135.39  76846908

In [10]:
df.head(3)

              Open    High     Low   Close    Volume
Date
2022-08-05  140.10  142.86  139.60  140.80  50686865
2022-08-04  140.58  143.56  139.55  142.57  70585020
2022-08-03  136.21  140.49  136.05  139.52  71827780

In [11]:
df.tail(3)

               Open    High      Low    Close     Volume
Date
2017-08-10  48.8147  48.993  47.7340  47.8460  112060180
2017-08-09  49.1300  49.400  48.7635  49.1005   71362860
2017-08-08  49.7175  49.814  49.2895  49.4920   57790300

In [12]:
df.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

In [13]:
df.columns = [col.lower() for col in df.columns]
df.head()

              open      high     low   close    volume
Date
2022-08-05  140.10  142.8600  139.60  140.80  50686865
2022-08-04  140.58  143.5600  139.55  142.57  70585020
2022-08-03  136.21  140.4900  136.05  139.52  71827780
2022-08-02  134.72  137.4400  134.09  134.16  61922429
2022-08-01  134.96  138.8339  133.51  135.39  76846908

In [14]:
df.describe()

              open         high          low        close        volume
count  1258.000000  1258.000000  1258.000000  1258.000000  1.258000e+03
mean    115.209581   116.545404   113.736937   115.158253  8.638249e+07
std      39.775499    40.252810    39.236486    39.704084  4.099782e+07
min      47.000000    47.431500    46.587500    46.930000  1.762674e+07
25%      85.336125    86.271750    84.355250    85.339500  5.881648e+07
50%      98.662750    99.808250    97.745250    98.767000  7.478215e+07
75%     158.328500   159.931000   156.225000   158.093500  1.022881e+08
max     187.200000   188.654000   184.840000   186.570000  3.310520e+08

In [15]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
open,1258.0,1.152096e+02,3.977550e+01,4.700000e+01,8.533613e+01,9.866275e+01,1.583285e+02,1.872000e+02
high,1258.0,1.165454e+02,4.025281e+01,4.743150e+01,8.627175e+01,9.980825e+01,1.599310e+02,1.886540e+02
low,1258.0,1.137369e+02,3.923649e+01,4.658750e+01,8.435525e+01,9.774525e+01,1.562250e+02,1.848400e+02
close,1258.0,1.151583e+02,3.970408e+01,4.693000e+01,8.533950e+01,9.876700e+01,1.580935e+02,1.865700e+02
volume,1258.0,8.638249e+07,4.099782e+07,1.762674e+07,5.881648e+07,7.478215e+07,1.022881e+08,3.310520e+08

In [16]:
df = df.head(10)

In [19]:
df['open']

Date
2022-08-05    140.100
2022-08-04    140.580
2022-08-03    136.210
2022-08-02    134.720
2022-08-01    134.960
2022-07-29    134.900
2022-07-28    121.570
2022-07-27    117.310
2022-07-26    115.790
2022-07-25    122.695
Name: open, dtype: float64

In [20]:
df[['open']]

               open
Date
2022-08-05  140.100
2022-08-04  140.580
2022-08-03  136.210
2022-08-02  134.720
2022-08-01  134.960
2022-07-29  134.900
2022-07-28  121.570
2022-07-27  117.310
2022-07-26  115.790
2022-07-25  122.695

In [21]:
df[['open' , 'close']]

               open   close
Date
2022-08-05  140.100  140.80
2022-08-04  140.580  142.57
2022-08-03  136.210  139.52
2022-08-02  134.720  134.16
2022-08-01  134.960  135.39
2022-07-29  134.900  134.95
2022-07-28  121.570  122.28
2022-07-27  117.310  120.97
2022-07-26  115.790  114.81
2022-07-25  122.695  121.14

In [22]:
df.iloc[:,0]

Date
2022-08-05    140.100
2022-08-04    140.580
2022-08-03    136.210
2022-08-02    134.720
2022-08-01    134.960
2022-07-29    134.900
2022-07-28    121.570
2022-07-27    117.310
2022-07-26    115.790
2022-07-25    122.695
Name: open, dtype: float64

In [24]:
df.iloc[:,[0,3]]

               open   close
Date
2022-08-05  140.100  140.80
2022-08-04  140.580  142.57
2022-08-03  136.210  139.52
2022-08-02  134.720  134.16
2022-08-01  134.960  135.39
2022-07-29  134.900  134.95
2022-07-28  121.570  122.28
2022-07-27  117.310  120.97
2022-07-26  115.790  114.81
2022-07-25  122.695  121.14

In [27]:
df.iloc[:,2:5]

               low   close     volume
Date
2022-08-05  139.60  140.80   50686865
2022-08-04  139.55  142.57   70585020
2022-08-03  136.05  139.52   71827780
2022-08-02  134.09  134.16   61922429
2022-08-01  133.51  135.39   76846908
2022-07-29  132.41  134.95  148892889
2022-07-28  118.08  122.28   82245543
2022-07-27  117.16  120.97   61582015
2022-07-26  114.53  114.81   67075064
2022-07-25  120.03  121.14   50221259

In [28]:
df.iloc[:,-1]

Date
2022-08-05     50686865
2022-08-04     70585020
2022-08-03     71827780
2022-08-02     61922429
2022-08-01     76846908
2022-07-29    148892889
2022-07-28     82245543
2022-07-27     61582015
2022-07-26     67075064
2022-07-25     50221259
Name: volume, dtype: int64

In [29]:
df.iloc[:, [-1]]

               volume
Date
2022-08-05   50686865
2022-08-04   70585020
2022-08-03   71827780
2022-08-02   61922429
2022-08-01   76846908
2022-07-29  148892889
2022-07-28   82245543
2022-07-27   61582015
2022-07-26   67075064
2022-07-25   50221259

In [30]:
df.iloc[:,-3:]

               low   close     volume
Date
2022-08-05  139.60  140.80   50686865
2022-08-04  139.55  142.57   70585020
2022-08-03  136.05  139.52   71827780
2022-08-02  134.09  134.16   61922429
2022-08-01  133.51  135.39   76846908
2022-07-29  132.41  134.95  148892889
2022-07-28  118.08  122.28   82245543
2022-07-27  117.16  120.97   61582015
2022-07-26  114.53  114.81   67075064
2022-07-25  120.03  121.14   50221259

In [31]:
df

               open      high     low   close     volume
Date
2022-08-05  140.100  142.8600  139.60  140.80   50686865
2022-08-04  140.580  143.5600  139.55  142.57   70585020
2022-08-03  136.210  140.4900  136.05  139.52   71827780
2022-08-02  134.720  137.4400  134.09  134.16   61922429
2022-08-01  134.960  138.8339  133.51  135.39   76846908
2022-07-29  134.900  137.6500  132.41  134.95  148892889
2022-07-28  121.570  122.8400  118.08  122.28   82245543
2022-07-27  117.310  121.9000  117.16  120.97   61582015
2022-07-26  115.790  118.1500  114.53  114.81   67075064
2022-07-25  122.695  123.6400  120.03  121.14   50221259

In [37]:
df.iloc[0:3 , 2:5]

               low   close    volume
Date
2022-08-05  139.60  140.80  50686865
2022-08-04  139.55  142.57  70585020
2022-08-03  136.05  139.52  71827780

In [43]:
df.loc['2022-07-26': '2022-08-01']

              open      high     low   close     volume
Date
2022-08-01  134.96  138.8339  133.51  135.39   76846908
2022-07-29  134.90  137.6500  132.41  134.95  148892889
2022-07-28  121.57  122.8400  118.08  122.28   82245543
2022-07-27  117.31  121.9000  117.16  120.97   61582015